*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main container */
.main {
  position: absolute;
  width: calc(100% - 300px);
  width: 70%;
  left: 330px;
  min-height: 100vh;
  background: white;
  transition: 0.25s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

/*welcome container*/
.welcome h1 {
  margin-left: 3rem;
}
.welcome p {
  margin-left: 6rem;
  font-size: 1.1rem;
  color: grey;
  margin-top: 10px;
}
.welcome img{
  height: 290px;
  margin-left: 5rem;
  margin-top: 20px;
  width: 89%;
}



/* Balance */
.balance{
 position:relative;
 width:100%;
 padding: 50px;
 
}

.balance .recentBalance{
  position: relative;
  display: grid;
  min-height: 130px;
}

.balance .cardBalance {
  background: lightgrey;
  margin-left: 2rem;
}

.balance .balanceHeader {
  display: flex;
  align-items: flex-start;
  /* padding: 20px; */
}
.balance .recentBalance {
  min-height: 290px;
  /* border: 1px solid red; */
}
.balance .balanceHeader h2{
  margin-top: 30px;
}

.cardBalance {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.cardBalance .name{
  margin-top: 25px;
  padding-left: 30px;
  font-weight: 200;
  font-size: 1.6rem;
}

.cardBalance .secPart {
   display: flex;
   gap: 25px;
   margin-top: 15px;
   margin-left: 30px;
   /* border: 1px solid yellowgreen; */
}

.cardBalance .secPart .money{
  font-size: 1.3rem;
  font-weight: 200;
  /* border: 1px solid red; */
  /* margin-top: 15px; 
  margin-left: 9rem; */
}
.cardBalance .secPart .lana{
  font: 1.5em sans-serif;
  margin-top: 30px;
  text-align: center;
 
}
.cardBalance .secPart img{
  /* border: 1px solid blue; */
  
  
}
.cardBalance .btnBal{
  /* border: 1px solid orange; */
  width:50%;

}
.cardBalance .btnBal button {
  width: 40%;
  padding: 10px;
  font-size: 15px;
  margin-left: 5%;
  margin-top: 25%;
   background-color: white;
   color:#2c4d71;
   border: none;
   cursor: pointer;

}
.cardBalance .currentInfo{
  /* border: 1px solid red; */
  margin-bottom: 20px;
  
}


/* Transactions */
.details {
position: relative;
width: 100%;
padding: 20px;
/* display: grid;
/* grid-template-columns: 2fr 1fr;
grid-gap: 30px; */ 
}
.details .recentTransactions {
  position: relative;
  display: grid;
  min-height: 350px;
  background: white;
  padding: 20px;
  /* box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px; */
}

.details .cardHeader {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
 font-weight: 600;
 color: black;
}

.cardHeader .btn{
  position: relative;
  padding: 5px 10px;
  background: #2c4d71;
  text-decoration: none;
  color: white;
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  padding: 20px;
  /* border: 1px solid yellow; */
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details table thead td {
font-weight: 600;
}
.details .recentTransactions table tr {
  /* background: lightgray;*/
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  margin: 2rem;
  /* border: 1px solid blue;  */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
color: black;
}
.details .recentTransactions table tr:last-child {
border-bottom: none;
}
/* .details .recentTransactions table tbody tr:hover {
background: blue;
color: white;
} */
.details .recentTransactions table tr td {
  
padding: 10px;
}
.details .recentTransactions table tbody tr td{
  /* border: 1px solid red; */
  background: white;
}
.details .recentTransactions table tr td:last-child {
text-align: end;
}
.details .recentTransactions table tr td:nth-child(2) {
text-align: end;
}
.details .recentTransactions table tr td:nth-child(3) {
text-align: center;
}
.status.done {
padding: 2px 4px;
background: #8de02c;
color: white;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
}
.status.pending {
padding: 2px 4px;
background: #e9b10a;
color: white;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
}